<html>
	<body>
<form method='post' action='{% url 'updateselleraction' %}' enctype='multipart/form-data'>
{% csrf_token %}

		<table>
			{% for i in sell %}
			
			<tr>
			<td>Name</td>
			<td><input type='text' name='name' value='{{i.na}}'></td>
			</tr>
			<tr>
			<td>Address</td>
			<td><textarea name='address' cols='19' rows='5'>{{i.ad}}</textarea></td>
			</tr>
			<tr>
			<td>Gender</td>
			<td>
			{% if i.ge == male %}
			<input type='radio' name='gender' value='male' checked='true'>Male
			<input type='radio' name='gender' value='female'>	Female
			{% else %}
			<input type='radio' name='gender' value='male'>Male
			<input type='radio' name='gender' value='female' checked='true'>Female</td>
			{% endif %}
			</tr>
			<tr>
			<td>Phone</td>
			<td><input type='text' name='phone' value='{{i.ph}}'></td>
			</tr>
			<tr>
			<td>DOB</td>
			<td><input type='date' name='dob' value='{{i.do}}'></td>
			</tr>
			<tr>
			<td>Country</td>
			<td><select name ='country'>
			<option value='{{i.id}}'>{{i.co}}</option>
			<option  ='india'>India</option>
			<option ='italy'>Italy</option>
			</select>
			</td>
			</tr>
			<tr>
			<td>image</td>
			<td><input type='file' name='image' ></td>
			<td><img src = '{{i.im.url}}' height='100 px' width='100 px' alt = 'no pic'></td>
			</tr>
			<tr>
			<td>Username</td>
			<td><input type='text' name='username' value='{{i.us}}'></td>
			</tr>
			<td>Password</td>
			<td><input type='password' name ='password' value='{{i.pa}}'</td>
			</tr>
			<tr>
			<td></td>
			<td><input type='submit' value='update'></td>
			</tr>
			{% endfor %}
		</table>
</form>
</body>
</html>









